@model ASP.Models.PersonWithDepartamentName

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de que deseas eliminar a esta persona?</h3>
<div>
    <hr />
    <img src="@Model.image" onerror="'https://img1.baidu.com/it/u=4055553068,1027673262&fm=26&fmt=auto'" width="150" height="150" style="border-radius: 100px 100px 100px 100px" alt="Sample Photo" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.birthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.departamentname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.departamentname)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
