@model ASP.Models.PersonWithDepartamentName

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonWithDepartamentName</h4>
    <hr />

    <img src="@Model.image" width="150" height="150" style="border-radius: 100px 100px 100px 100px" alt="Sample Photo" />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.birthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.departamentname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.departamentname)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.id  }) |
    <a asp-action="Index">Back to List</a>
</div>
